div{
  border: 0px solid green;
}

body{
  /*cursor:none;*/
  /*cursor: url("./scope.png"), pointer;*/
  margin: 0px;
  overflow: hidden;
}

#log{
  position: absolute;
}

canvas{
  border: 3px solid black;
  position: absolute;
  margin-left: 100px;
  margin-top: 100px;
}

.tool{
  display: inline-block;
  margin-top: 30px;
  width: 70px;
  height: 70px;
  background-color: red;
}


#buffer1{
  z-index: 3;
  visibility: hidden;
  transform: scale(1.0);
}
#buffer2{
  z-index: 3;
  visibility: visible;
  transform: scale(1.0);
}
